.font-12 {
    font-size: 12px;
}
.font-16{
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}
.font-26 {
    font-size: 26px;
}
.font-28 {
    font-size: 28px;
}
.font-30 {
    font-size: 30px;
}
.font-32 {
    font-size: 32px;
}
.font-34 {
    font-size: 34px;
}
.font-36 {
    font-size: 36px;
}
.font-38 {
    font-size: 38px;
}
.font-40 {
    font-size: 40px;
}
.font-40 {
font-size: 40px;
}
.font-42 {
font-size: 42px;
}
.font-44 {
font-size: 44px;
}
.font-46 {
font-size: 46px;
}
.font-48 {
font-size: 48px;
}
.font-50 {
font-size: 50px;
}
.font-52 {
font-size: 52px;
}
.font-54 {
font-size: 54px;
}
.font-56 {
font-size: 56px;
}
.font-58 {
font-size: 58px;
}
.font-60 {
font-size: 60px;
}
.font-62 {
font-size: 62px;
}
.font-64 {
font-size: 64px;
}
.font-66 {
font-size: 66px;
}
.font-68 {
font-size: 68px;
}
.font-70 {
font-size: 70px;
}
.font-72 {
font-size: 72px;
}
.font-74 {
font-size: 74px;
}
.font-76 {
font-size: 76px;
}
.font-78 {
font-size: 78px;
}
.font-80 {
font-size: 80px;
}
.font-82 {
font-size: 82px;
}
.font-84 {
font-size: 84px;
}
.font-86 {
font-size: 86px;
}
.font-88 {
font-size: 88px;
}
.font-90 {
font-size: 90px;
}
.font-92 {
font-size: 92px;
}
.font-94 {
font-size: 94px;
}
.font-96 {
font-size: 96px;
}
.font-98 {
font-size: 98px;
}
.font-100 {
font-size: 100px;
}
.font-102 {
font-size: 102px;
}
.font-104 {
font-size: 104px;
}
.font-106 {
font-size: 106px;
}
.font-108 {
font-size: 108px;
}
.font-110 {
font-size: 110px;
}
.font-112 {
font-size: 112px;
}
.font-114 {
font-size: 114px;
}
.font-116 {
font-size: 116px;
}
.font-118 {
font-size: 118px;
}
.font-120 {
font-size: 120px;
}


//  FONT    WEIGHT

.fn-bold {
    font-weight: bold;
}
.fn-bolder {
    font-weight: bolder;
}
.fn-lighter {
    font-weight: lighter;
}

.fn-100 {
    font-weight: 100;
}
.fn-200 {
    font-weight: 200;
}
.fn-300 {
    font-weight: 300;
}
.fn-400 {
    font-weight: 400;
}
.fn-500 {
    font-weight: 500;
}
.fn-600 {
    font-weight: 600;
}
.fn-700 {
    font-weight: 700;
}
.fn-800 {
    font-weight: 800;
}
.fn-900 {
    font-weight: 900;
}
.fn-ital {
    font-style: italic;
}

