.width-50{
width: 50px;
}
.width-100{
width: 100px;
}
.width-150{
width: 150px;
}
.width-200{
width: 200px;
}
.width-250{
width: 250px;
}
.width-300{
width: 300px;
}
.width-350{
width: 350px;
}
.width-400{
width: 400px;
}
.width-450{
width: 450px;
}
.width-500{
width: 500px;
}
.width-550{
width: 550px;
}
.width-600{
width: 600px;
}
.width-650{
width: 650px;
}
.width-700{
width: 700px;
}
.width-750{
width: 750px;
}
.width-800{
width: 800px;
}
.width-850{
width: 850px;
}
.width-900{
width: 900px;
}
.width-950{
width: 950px;
}
.width-1000{
width: 1000px;
}

.height-50{
height: 50px;
}
.height-100{
height: 100px;
}
.height-150{
height: 150px;
}
.height-200{
height: 200px;
}
.height-250{
height: 250px;
}
.height-300{
height: 300px;
}
.height-350{
height: 350px;
}
.height-400{
height: 400px;
}
.height-450{
height: 450px;
}
.height-500{
height: 500px;
}
.height-550{
height: 550px;
}
.height-600{
height: 600px;
}
.height-650{
height: 650px;
}
.height-700{
height: 700px;
}
.height-750{
height: 750px;
}
.height-800{
height: 800px;
}
.height-850{
height: 850px;
}
.height-900{
height: 900px;
}
.height-950{
height: 950px;
}
.height-1000{
height: 1000px;
}
.width-pr-5 {
width: 5%;
}
.width-pr-10 {
width: 10%;
}
.width-pr-15 {
width: 15%;
}
.width-pr-20 {
width: 20%;
}
.width-pr-25 {
width: 25%;
}
.width-pr-30 {
width: 30%;
}
.width-pr-35 {
width: 35%;
}
.width-pr-40 {
width: 40%;
}
.width-pr-45 {
width: 45%;
}
.width-pr-50 {
width: 50%;
}
.width-pr-55 {
width: 55%;
}
.width-pr-60 {
width: 60%;
}
.width-pr-65 {
width: 65%;
}
.width-pr-70 {
width: 70%;
}
.width-pr-75 {
width: 75%;
}
.width-pr-80 {
width: 80%;
}
.width-pr-85 {
width: 85%;
}
.width-pr-90 {
width: 90%;
}
.width-pr-95 {
width: 95%;
}
.width-pr-100 {
width: 100%;
}

.height-pr-5 {
height: 5%;
}
.height-pr-10 {
height: 10%;
}
.height-pr-15 {
height: 15%;
}
.height-pr-20 {
height: 20%;
}
.height-pr-25 {
height: 25%;
}
.height-pr-30 {
height: 30%;
}
.height-pr-35 {
height: 35%;
}
.height-pr-40 {
height: 40%;
}
.height-pr-45 {
height: 45%;
}
.height-pr-50 {
height: 50%;
}
.height-pr-55 {
height: 55%;
}
.height-pr-60 {
height: 60%;
}
.height-pr-65 {
height: 65%;
}
.height-pr-70 {
height: 70%;
}
.height-pr-75 {
height: 75%;
}
.height-pr-80 {
height: 80%;
}
.height-pr-85 {
height: 85%;
}
.height-pr-90 {
height: 90%;
}
.height-pr-95 {
height: 95%;
}
.height-pr-100 {
height: 100%;
}
