

*, *::after, *::before {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

// WIDTH AND HEIGHT

@import "width-and-height";


 //  BUTTONS
 @import "buttons";


 //          POSITIONS

.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.fxd {
    position: fixed;
}
.stck {
    position: sticky;
    top: 0;

}


//             COLORS
.bg-red{
    background: red;
}

.bg-light-red{
    background: rgb(199, 64, 64);
}
.bg-medium-red{
    background: rgb(220,20,60);
}
.bg-dark-red{
    background: rgb(87, 3, 3);
}

.bg-yellow{
    background: yellow;
}
.bg-dark-yellow{
    background: rgb(189,183,107);
}
.bg-light-yellow{
    background: rgb(255,250,205);
}
.bg-medium-yellow{
    background: rgb(255,228,181);
}

.bg-orange {
    background: rgb(255,165,0);
}
.bg-dark-orange{
    background: rgb(255,140,0);
}
.bg-light-orange{
    background: rgb(255,127,80);
}
.bg-medium-orange{
    background: gold;
}

.bg-green {
    background-color: green;
}
.bg-dark-green {
    background: rgb(0,100,0);
}
.bg-light-green {
    background: rgb(124,252,0);
}
.bg-medium-green{
    background: rgb(50,205,50);
}
.bg-sea-green{
    background: rgb(46,139,87);
}
.bg-medium-sea-green{
    background: rgb(60,179,113);
}
.bg-spring-green{
    background: rgb(0,255,127);
}
.bg-aqua{
    background: rgb(0,255,255);
}
.bg-aquamarine{
    background: rgb(127,255,212);
}
.bg-teal {
    background: teal;
}
.bg-dark-turquoise {
    background: darkturquoise;
}
.bg-blue{
    background: blue;
}
.bg-dark-blue{
    background: darkblue;
}
.bg-light-blue {
    background: lightblue;
}
.bg-medium-blue {
    background: mediumblue;
}
.bg-midnight-blue{
    background: midnightblue;
}




//             DISPLAY

.flex{
    display: flex;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.inline-flex{
    display: inline-flex;
}
.flexbox{
    display: flexbox;
}
.grid{
    display: grid;
}


//              FLEX POSITIONS

.cent {
    justify-content: center;
}
.fx-end {
    justify-content: flex-end;
}
.fx-str {
    justify-content: flex-start;
}
.spc-arn{
    justify-content: space-around;
}
.spc-btw{
    justify-content: space-between;
}
.spc-evn{
    justify-content: space-evenly;
}

 //       FLEX DIRECTIONS

 .fx-row {
    flex-direction: row;
 }
 .fx-row-rev {
    flex-direction: row-reverse;
 }
 .fx-col {
    flex-direction: column;
 }
 .fx-col-rev{
    flex-direction: column-reverse;
 }

 .fx-wrap {
    flex-wrap: wrap;
 }
 .fx-nowrap{
    flex-wrap: nowrap;
 }
 .fx-wrap-rev{
    flex-wrap: wrap-reverse;
 }

//             OPACITY

.opct-3 {
    opacity: 0.3;
}
.opct-5 {
    opacity: 0.5;
}
.opct-7{
    opacity: 0.7;
}
.opct-9{
    opacity: 0.9;
}


//              BORDER
.sld {
    border: solid 2px;
}
.dshd{
    border: dashed 2px;
}
.dtd {
    border: dotted 3px;
}


.br-rds-10 {
    border-radius: 10px;
}
.br-rds-15 {
    border-radius: 15px;
}

.br-rds-20 {
    border-radius: 20px;
}
.br-rds-25 {
    border-radius: 25px;
}
.br-rds-30 {
    border-radius: 30px;
}
.br-rds-35 {
    border-radius: 35px;
}
.br-rds-40 {
    border-radius: 40px;
}
.br-rds-45 {
    border-radius: 45px;
}
.br-rds-50 {
    border-radius: 50px;
}

//    PADDINGS 

.pd-5 {
    padding: 5px;
}
.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}
.pd-20 {
    padding: 20px;
}

.pd-25 {
    padding: 25px;
}

.pd-30 {
    padding: 30px;
}
.pd-35{
padding: 35px;
}
.pd-40{
padding: 40px;
}
.pd-45{
padding: 45px;
}
.pd-50{
padding: 50px;
}

.pd-lft-5{
padding-left: 5px;
}
.pd-lft-10{
padding-left: 10px;
}
.pd-lft-15{
padding-left: 15px;
}
.pd-lft-20{
padding-left: 20px;
}
.pd-lft-25{
padding-left: 25px;
}
.pd-lft-30{
padding-left: 30px;
}
.pd-lft-35{
padding-left: 35px;
}
.pd-lft-40{
padding-left: 40px;
}
.pd-lft-45{
padding-left: 45px;
}
.pd-lft-50{
padding-left: 50px;
}
.pd-right-5{
padding-right: 5px;
}
.pd-right-10{
padding-right: 10px;
}
.pd-right-15{
padding-right: 15px;
}
.pd-right-20{
padding-right: 20px;
}
.pd-right-25{
padding-right: 25px;
}
.pd-right-30{
padding-right: 30px;
}
.pd-right-35{
padding-right: 35px;
}
.pd-right-40{
padding-right: 40px;
}
.pd-right-45{
padding-right: 45px;
}
.pd-right-50{
padding-right: 50px;
}
.pd-top-5{
padding-top: 5px;
}
.pd-top-10{
padding-top: 10px;
}
.pd-top-15{
padding-top: 15px;
}
.pd-top-20{
padding-top: 20px;
}
.pd-top-25{
padding-top: 25px;
}
.pd-top-30{
padding-top: 30px;
}
.pd-top-35{
padding-top: 35px;
}
.pd-top-40{
padding-top: 40px;
}
.pd-top-45{
padding-top: 45px;
}
.pd-top-50{
padding-top: 50px;
}
.pd-btm-5{
padding-bottom: 5px;
}
.pd-btm-10{
padding-bottom: 10px;
}
.pd-btm-15{
padding-bottom: 15px;
}
.pd-btm-20{
padding-bottom: 20px;
}
.pd-btm-25{
padding-bottom: 25px;
}
.pd-btm-30{
padding-bottom: 30px;
}
.pd-btm-35{
padding-bottom: 35px;
}
.pd-btm-40{
padding-bottom: 40px;
}
.pd-btm-45{
padding-bottom: 45px;
}
.pd-btm-50{
padding-bottom: 50px;
}

///     MARGINS

.mrg-5{
margin: 5px;
}
.mrg-10{
margin: 10px;
}
.mrg-15{
margin: 15px;
}
.mrg-20{
    margin: 20px;
}
.mrg-25{
margin: 25px;
}
.mrg-30{
margin: 30px;
}
.mrg-35{
margin: 35px;
}
.mrg-40{
margin: 40px;
}
.mrg-45{
margin: 45px;
}
.mrg-50{
margin: 50px;
}
.mrg-top-5{
margin-top: 5px;
}
.mrg-top-10{
margin-top: 10px;
}
.mrg-top-15{
margin-top: 15px;
}
.mrg-top-20{
margin-top: 20px;
}
.mrg-top-25{
margin-top: 25px;
}
.mrg-top-30{
margin-top: 30px;
}
.mrg-top-35{
margin-top: 35px;
}
.mrg-top-40{
margin-top: 40px;
}
.mrg-top-45{
margin-top: 45px;
}
.mrg-top-50{
margin-top: 50px;
}
.mrg-btm-5{
margin-bottom: 5px;
}
.mrg-btm-10{
margin-bottom: 10px;
}
.mrg-btm-15{
margin-bottom: 15px;
}
.mrg-btm-20{
margin-bottom: 20px;
}
.mrg-btm-25{
margin-bottom: 25px;
}
.mrg-btm-30{
margin-bottom: 30px;
}
.mrg-btm-35{
margin-bottom: 35px;
}
.mrg-btm-40{
margin-bottom: 40px;
}
.mrg-btm-45{
margin-bottom: 45px;
}
.mrg-btm-50{
margin-bottom: 50px;
}
.mrg-lft-5{
margin-left: 5px;
}
.mrg-lft-10{
margin-left: 10px;
}
.mrg-lft-15{
margin-left: 15px;
}
.mrg-lft-20{
margin-left: 20px;
}
.mrg-lft-25{
margin-left: 25px;
}
.mrg-lft-30{
margin-left: 30px;
}
.mrg-lft-35{
margin-left: 35px;
}
.mrg-lft-40{
margin-left: 40px;
}
.mrg-lft-45{
margin-left: 45px;
}
.mrg-lft-50{
margin-left: 50px;
}
.mrg-right-5{
margin-right: 5px;
}
.mrg-right-10{
margin-right: 10px;
}
.mrg-right-15{
margin-right: 15px;
}
.mrg-right-20{
margin-right: 20px;
}
.mrg-right-25{
margin-right: 25px;
}
.mrg-right-30{
margin-right: 30px;
}
.mrg-right-35{
margin-right: 35px;
}
.mrg-right-40{
margin-right: 40px;
}
.mrg-right-45{
margin-right: 45px;
}
.mrg-right-50{
margin-right: 50px;
}









.btn-2 {
    margin-left: 200px;
    width: 200px;
    height: 80px;
}
body{
    height: 2000px;
}

div{
    border: 2px solid;
    height: 100px;
    width: 100px;
}
.make{
    margin-top: 200px;
    height: 400px;
    width: 1000px;
}